.Footer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: black;
    height: 40vh;
    width: 100%;
    color: #fff;
}

.footer-contain{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.form form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.form form input{
    margin-bottom: 3px;
}



.footered{
    display: flex;
    justify-content: center;
}